services:
  - type: web
    name: novision-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: AGORA_APP_ID
        sync: false
      - key: AGORA_APP_CERTIFICATE
        sync: false
      - key: TENOR_API_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
