/* src/components/ChannelList.module.css */
.channelListContainer {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
}

.channelListContainer h4 {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--text-secondary);
    letter-spacing: 0.5px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.channelListContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channelButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    text-align: left;
    font-size: 1em;
    transition: background-color 0.2s, color 0.2s;
}

.channelButton:hover {
    background-color: var(--ui-bg-light);
    color: var(--text-primary);
}

.channelButton.active {
    background-color: var(--other-message-bg);
    color: var(--text-primary);
    font-weight: 500;
}